<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <!-- mybatis db 연결정보 세팅 파일 -->
<configuration>
	<!-- 1. sql 실행 결과 ...DTO 매핑 -->
	<typeAliases>
		<typeAlias type="edu.kdt.gametrend.carousel.CarouselDTO" alias="carouseldto"/>
		<typeAlias type="edu.kdt.gametrend.game.GameDTO" alias="gamedto"/>
		<typeAlias type="edu.kdt.gametrend.member.MemberDTO" alias="memberdto"/>
		<typeAlias type="edu.kdt.gametrend.review.ReviewDTO" alias="reviewdto"/>
		<typeAlias type="edu.kdt.gametrend.wishlist.WishlistDTO" alias="wishlistdto"/>
		<typeAlias type="edu.kdt.gametrend.wishlist.WishlistGameDTO" alias="wishlistgamedto"/>
		<typeAlias type="edu.kdt.gametrend.explanation.ExplanationDTO" alias="explanationdto"/>
		<typeAlias type="edu.kdt.gametrend.promotion.PromotionDTO" alias="promotiondto"/>
		<typeAlias type="edu.kdt.gametrend.calendar.CalendarDTO" alias="calendardto"/>
		<typeAlias type="edu.kdt.gametrend.admin.AdminDTO" alias="admindto"/>
	</typeAliases>
</configuration>
