.wishlist {
	width: 60%;
	margin: 200px auto;
}
.subtext {
	color: #7F7C82;
}
.none {
	text-decoration: none;
	color: black;
}
.none:hover {
	color: #A182FE;
	background: #FFFFFF;
}
.delWish {
	text-align: right;
	padding: 0;
	text-decoration: none;
}
#delWish:hover {
	background-color: #A182FE;
}
.paging ul {
	width: 9vw;
}
.wishlist ul li:hover {
	background: transparent;
	color: #A182FE;
}