.wishlist {
	width: 60%;
	margin: 200px auto;
}
.subtext {
	color: #7F7C82;
}
.none {
	text-decoration: none;
	color: black;
}
.none:hover {
	color: #A182FE;
}
.close {
	text-align: right;
	padding: 0;
	text-decoration: none;
}
#close:hover {
	background-color: #A182FE;
}
.nav-item:hover {
	background-color: #E8E0FF;
}
	